.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.call-to-action-btn {
    border-radius: 2rem;
    cursor: pointer;
    background: linear-gradient(95deg, rgba(101, 226, 217, 1) 0%, rgba(51, 158, 204, 1) 20%);
}
