@font-face {
    font-family: "Raleway-400";
    src: url("@/assets/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-700";
    src: url("@/assets/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: "Opensans-400";
    src: url("@/assets/fonts/Open-sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Opensans-700";
    src: url("@/assets/fonts/Open-sans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "icomoon";
    src: url("@/assets/fonts/Icomoon/Icomoon.ttf");
}
